.style-sky {
    color: #07a9f4;
}


/* header 头部 start */

.logo {
    position: relative;
}

.logo .car::after {
    position: absolute;
    top: -4px;
    left: 148px;
    content: '';
    width: 167px;
    height: 68px;
    background: url(../images/login.jpg) no-repeat;
    /* background-color: ; */
}


/* header 头部 end */


/* 我想对“登录”提意见 */

.miss {
    float: right;
}


/* 安全法  */

.safes {
    height: 31px;
    line-height: 31px;
    background-color: #fdf4e3;
    border-top: 1px solid #eee9d5;
    margin-top: 9px;
    text-align: center;
}

.safes p {
    color: #fd893b;
}


/* welcome主体 登录 start  */

.welcome {
    height: 481px;
    background-color: #e63102;
}

.welcome-c {
    position: relative;
}

.welcome-a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    border: 0;
}

.welcome-a img {
    width: 100%;
    height: 100%;
}


/* 登录 */

.welcome-b {
    margin-top: 20px;
}

.tab-con .item {
    display: none;
}

.tab-a {
    border-bottom: 0!important;
}

.form-control {
    padding: 20px 12px;
}

.tab-ipt {
    margin-bottom: 15px;
}

.tab-a li>a {
    padding: 18px 53px;
}

.login {
    margin-top: 10px;
}

.login input {
    display: inline-block;
    width: 100%;
    border: 1px solid #ccc;
    padding-left: 15px;
    height: 30px;
    margin-bottom: 15px;
}

.login .info {
    display: none;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: pink;
    margin: 5px 0;
}

.login .button {
    display: inline-block;
    width: 100%;
    height: 35px;
    color: #fff;
    background-color: red;
    font-size: 15px;
}

.tab-ft ul li {
    float: left;
    padding: 0 5px;
}

.tab-icon::before {
    margin-left: 57px;
}


/* welcome主体 登录 end */


/* 移动端显示 */

.logo-a {
    margin-top: 80px;
    padding: 0;
    margin-bottom: 0;
    border: 0;
}

.btn-b {
    padding: 0 60px;
    margin-top: 15px;
}

.btn-c {
    margin-bottom: 0;
}

.btn-c input {
    border: 0;
    border-bottom: 1px solid #ff6bc5;
    border-radius: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

.btn-d {
    margin-top: 37px;
}

.btn-d input {
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}

.btn-d span {
    font-size: 14px;
}

.btn {
    padding: 8px 142px!important;
}


/* 移动端显示 */


/* 当我们进入小屏幕 还有 超小屏幕 */

@media screen and (max-width:991px) {
    /* welcome主体 登录 start  */
    .welcome {
        background-color: transparent;
    }
    /* welcome主体 登录 end */
}


/* 当我们进入 超小屏幕 */

@media screen and (max-width:767px) {
    /* welcome主体 登录 start  */
    .welcome {
        background-color: transparent;
    }
    .login-btn {
        padding: 10px 142px!important;
    }
    /* welcome主体 登录 end */
    /* 移动端 */
    .btn-b {
        padding: 0 30px;
    }
    .btn-d {
        margin-top: 21px;
    }
    .btn-d span {
        font-size: 13px;
    }
    /* 移动端 */
}

@media screen and (max-width:1200px) {
    /* welcome主体 登录 start  */
    .tab-a li>a {
        padding: 18px 36px;
    }
    .login-btn {
        padding: 10px 106px;
    }
    .login-right {
        margin-left: 64px;
    }
    .tab-ft ul li {
        padding: 0 3px;
    }
    .tab-icon::before {
        margin-left: 11px;
    }
    /* welcome主体 登录 end */
}


/* 当我们进入 超小屏幕 */